<footer class="page-footer text-center mt-4 wow fadeIn">
  <!-- <div class="container-fluid text-center text-md-left">

    <div class="row">
      <div class="col-md-12 mt-md-0 mt-7" style="text-align: center;font-family:'Ma Shan Zheng', cursive;">
        <h5>基于你的兴趣推荐，探索你喜欢的书籍</h5>
        <h5>并为你所喜欢的书籍留下评论</h5>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

    </div>

  </div> -->
  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <h5 class="mt-3"
      style="text-align: center;font-family:'Ma Shan Zheng',cursive;">基于你的兴趣推荐，探索你喜欢的书籍</h5>
    <h5 style="text-align: center;font-family:'Ma Shan Zheng', cursive;">并为你所喜欢的书籍留下评论</h5>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a class="mr-4" href="https://mdbootstrap.com/education/bootstrap/"
      target="_blank">
      &nbsp;ZJUT
    </a>

    <a href="http://www.zjut.edu.cn" target="_blank">
      <i class="fas fa-school mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design"
      target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>
  <!--/.Copyright-->

</footer>