{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2>我的电影收藏夹</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">电影名称</th>
                        <th scope="col">年份</th>
                        <th scope="col">国家</th>
                        <th scope="col">查看</th>
                        <th scope="col">删除该电影</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bookmark_item in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th> <!--顺序计数-->
                        <td>{{ bookmark_item.item.title }}</td>
                        <td>{{ bookmark_item.item.year }}</td>
                        <td>
                            {{ bookmark_item.item.country }}
                        </td>
                        <td>
                            <a href="{{bookmark_item.item.get_absolute_url}}"
                                class="btn
                                btn-light btn-default btn-sm">查看</a>
                        </td>
                        <td>
                            <a style='color: red;'
                                href="{{bookmark_item.item.get_remove_from_bookmark_url_sp}}">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <a class='btn btn-warning float-right ml-2'
                                href='/checkout/'>生成相关推荐</a>
                            <a class='btn btn-primary float-right' href='/'>我的数据分析</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</main>

{% endblock content %}