{% load static %}

<html>
  <head>
    <!-- generic stuff -->
    <!-- <script src="../libs/d3.js"></script>
    <script src="../libs/d3-scale-chromatic.v1.min.js"></script>
    <script src="../libs/lodash.js"></script>
    <link rel="stylesheet" href="../css/default.css"> -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/libs/d3.js"></script>
    <script src="/static/libs/d3-scale-chromatic.v1.min.js"></script>
    <script src="/static/libs/lodash.js"></script>

    <link rel="stylesheet" href="/static/css/default.css">

    <!-- specific stuff -->
    <!-- <script src="./js/D03-02.js"></script>
        <link rel="stylesheet" href="./css/D03-02.css" type="text/css">
    </head> -->
    <script src="/static/js/relationship_view_movie.js"></script>
    <link rel="stylesheet" href="/static/css/relationship_view_people.css"
      type="text/css">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  </head>
  <body>

    <div class="container dark-grey-text mt-5 col-md-11" id="infoBox">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <div class="card">
          <img referrerPolicy="no-referrer"
            class="card-img-top"
            src="{{item.img_url}}"
            alt="Card image cap"
            onerror="this.src='/static/img/peopleAlt.png';">
          <div class="card-body">
            <h4 class="card-title"><a>{{item.title}}</a></h4>
            <p class="card-text">{{item.title}}</p>
            <a href="#" class="btn btn-primary">查看主页</a>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="p-4">
            <a href="#"
              class="btn btn-light btn-md p"
              style="margin-left:0px;margin-right:20px;margin-bottom: 20px;">
              高相关度
            </a>
            <p class="lead">
              <span class="mr-1" STYLE="color: rgb(130, 40, 204);
                font-size:20pt">
                {{item.title}}
              </span>
              <br>
            </p>

            <p id="simRate" class="lead font-weight-bold">与您的兴趣相似度:R1%</p>

            <p id="simName">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在相邻局部节点网络中
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与您喜好最符合的电影为R1，其相似度为R2%
              <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与您喜好最符合的影人为R3，其相似度为R4%
            </p>
            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search"
                class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>



            </form> {% endcomment %}
            <br>
            <a href="{{ item.get_follow_people_url }}"
              class="btn btn-primary btn-md my-0 p"
              style="margin-left:80px;margin-right:50px;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <a href="{{ item.get_unfollow_people_url }}" class="btn
              btn-danger
              btn-md my-0 p">
              取消关注
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

        <div class="card mr-4" id="refInfo">

          <!-- Card image -->
          <img
            id="refImg"
            referrerPolicy="no-referrer"
            class="card-img-top"
            src="/static/img/peopleAlt.png"
            alt="Card image cap"
            onerror="this.src='/static/img/peopleAlt.png';">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a id="refName">R1</a></h4>
            <!-- Text -->
            <!-- <p id="refDes" class="card-text">R1</p> -->
            <a id="refDes" href="" class="btn btn-primary">跳转该节点</a>
            <!-- Button -->
            <a id="refLink" href="" class="btn btn-primary">查看主页</a>
          </div>
        </div>



        <div class="card" id="refInfo2">
          <img
            id="refImg2"
            referrerPolicy="no-referrer"
            class="card-img-top"
            src="/static/img/peopleAlt.png"
            alt="Card image cap"
            onerror="this.src='/static/img/peopleAlt.png';">
          <div class="card-body">
            <h4 class="card-title"><a id="refName2">R1</a></h4>
            <a id="refDes2" href="" class="btn btn-primary">跳转该节点</a>
            <a id="refLink2" href="" class="btn btn-primary">查看主页</a>
          </div>
        </div>




      </div>
      <!--Grid row-->

      <hr>
    </div>


    <div id="output" style="margin-top: 200px;" class="col-md-10 container">
      <svg class="chart"></svg>
    </div>

    <script>
    (function() {
        show();
    })();
</script>


    <script src="/static/js/rotate.js"></script>

  </body>
</html>