<html>
    <head>
        <!-- generic stuff -->
        <!-- <script src="../libs/d3.js"></script>
    <script src="../libs/d3-scale-chromatic.v1.min.js"></script>
    <script src="../libs/lodash.js"></script>
    <link rel="stylesheet" href="../css/default.css"> -->
        <script src="/static/libs/d3.js"></script>
        <script src="/static/libs/d3-scale-chromatic.v1.min.js"></script>
        <script src="/static/libs/lodash.js"></script>
        <link rel="stylesheet" href="/static/css/default.css">

        <!-- specific stuff -->
        <!-- <script src="./js/D03-02.js"></script>
        <link rel="stylesheet" href="./css/D03-02.css" type="text/css">
    </head> -->
        <script src="/static/js/relationship_view_people.js"></script>
        <link rel="stylesheet" href="/static/css/relationship_view_people.css"
            type="text/css">
    </head>
    <body>

        <div id="output">
            <svg class="chart"></svg>
        </div>

        <script>
    (function() {
        show();
    })();
</script>


    </body>
</html>